<robot name="root">
  <link name="link_7cde0fe08897826bc8635ea1c31dd83b_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.10E-05"/>
      <inertia ixx="4.76E-09" ixy="9.56E-14" ixz="-2.03E-12" iyy="2.94E-09" iyz="1.65E-12" izz="2.91E-09"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="7cde0fe08897826bc8635ea1c31dd83b_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="7cde0fe08897826bc8635ea1c31dd83b_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
