<robot name="root">
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.54E-06"/>
      <inertia ixx="3.36E-10" ixy="-7.21E-11" ixz="8.56E-11" iyy="2.68E-10" iyz="-1.17E-10" izz="2.35E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.66E-07"/>
      <inertia ixx="2.51E-10" ixy="5.11E-11" ixz="2.48E-11" iyy="9.79E-11" iyz="8.89E-11" izz="2.10E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_0"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_1"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.60E-07"/>
      <inertia ixx="1.69E-10" ixy="3.19E-11" ixz="5.98E-11" iyy="2.12E-10" iyz="4.71E-11" izz="9.71E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_1"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_2"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.71E-07"/>
      <inertia ixx="3.79E-10" ixy="-6.87E-11" ixz="-1.41E-10" iyy="3.76E-10" iyz="1.31E-10" izz="1.78E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_2"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_3"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.60E-07"/>
      <inertia ixx="2.79E-10" ixy="-1.17E-10" ixz="-4.35E-11" iyy="1.13E-10" iyz="8.23E-11" izz="3.13E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_3"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_4"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.59E-07"/>
      <inertia ixx="1.69E-10" ixy="5.97E-11" ixz="-3.19E-11" iyy="9.70E-11" iyz="-4.70E-11" izz="2.12E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_4"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_5"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.65E-07"/>
      <inertia ixx="2.51E-10" ixy="2.48E-11" ixz="-5.11E-11" iyy="2.10E-10" iyz="-8.88E-11" izz="9.77E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_5"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_6"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.72E-07"/>
      <inertia ixx="3.79E-10" ixy="-1.41E-10" ixz="6.87E-11" iyy="1.79E-10" iyz="-1.31E-10" izz="3.76E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_6"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_7"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.61E-07"/>
      <inertia ixx="2.79E-10" ixy="-4.35E-11" ixz="1.17E-10" iyy="3.13E-10" iyz="-8.24E-11" izz="1.14E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_7"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_8"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.01E-06"/>
      <inertia ixx="3.93E-10" ixy="6.20E-11" ixz="-1.35E-10" iyy="3.89E-10" iyz="-1.33E-10" izz="1.68E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_8"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_9"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.82E-07"/>
      <inertia ixx="2.85E-10" ixy="1.06E-10" ixz="-4.94E-11" iyy="1.22E-10" iyz="-9.99E-11" izz="2.98E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_9"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_10"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_11">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.10E-06"/>
      <inertia ixx="1.77E-10" ixy="-7.52E-11" ixz="-2.99E-11" iyy="1.13E-10" iyz="3.90E-11" izz="2.41E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_11_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_10"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_11"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_12">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.33E-07"/>
      <inertia ixx="2.03E-10" ixy="-2.53E-11" ixz="-5.12E-11" iyy="1.76E-10" iyz="7.19E-11" izz="8.34E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_12_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_11"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_12"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_13">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.44E-07"/>
      <inertia ixx="3.40E-10" ixy="5.22E-11" ixz="1.29E-10" iyy="3.66E-10" iyz="1.05E-10" izz="1.38E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_13_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_12"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_13"/>
  </joint>
  <link name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_14">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.16E-06"/>
      <inertia ixx="4.46E-10" ixy="1.57E-10" ixz="6.16E-11" iyy="1.81E-10" iyz="1.32E-10" izz="4.53E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="77301246b265a4d3a538bf55f6b58cef_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_14_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_13"/>
    <child link="link_77301246b265a4d3a538bf55f6b58cef_convex_piece_14"/>
  </joint>
</robot>
