<robot name="root">
  <link name="link_d3e5e3d4da00a9a578d7927a71f87019_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.31E-05"/>
      <inertia ixx="2.14E-08" ixy="9.76E-13" ixz="-5.96E-11" iyy="2.14E-08" iyz="1.52E-10" izz="1.24E-08"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d3e5e3d4da00a9a578d7927a71f87019_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d3e5e3d4da00a9a578d7927a71f87019_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
