<robot name="root">
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.28E-07"/>
      <inertia ixx="1.00E-10" ixy="-3.24E-12" ixz="5.91E-12" iyy="6.38E-11" iyz="-6.31E-11" izz="3.83E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.00E-07"/>
      <inertia ixx="1.74E-10" ixy="1.02E-12" ixz="-4.41E-12" iyy="1.67E-10" iyz="-3.35E-11" izz="7.45E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_0"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_1"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.23E-07"/>
      <inertia ixx="1.08E-10" ixy="3.90E-12" ixz="5.44E-12" iyy="6.23E-11" iyz="5.64E-11" izz="4.73E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_1"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_2"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.38E-07"/>
      <inertia ixx="1.22E-10" ixy="-8.11E-13" ixz="-2.93E-12" iyy="1.11E-10" iyz="3.16E-11" izz="1.11E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_2"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_3"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.05E-07"/>
      <inertia ixx="5.59E-10" ixy="1.33E-10" ixz="1.53E-10" iyy="3.97E-10" iyz="2.88E-10" izz="3.49E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_3"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_4"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.00E-06"/>
      <inertia ixx="7.68E-10" ixy="-1.85E-10" ixz="-2.18E-10" iyy="5.80E-10" iyz="3.90E-10" izz="4.70E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_4"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_5"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.78E-07"/>
      <inertia ixx="1.85E-10" ixy="1.29E-10" ixz="2.66E-11" iyy="5.00E-11" iyz="6.18E-12" izz="3.29E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_5"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_6"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.63E-07"/>
      <inertia ixx="1.80E-10" ixy="-1.29E-10" ixz="-1.88E-11" iyy="5.22E-11" iyz="6.95E-12" izz="3.25E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_6"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_7"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.70E-06"/>
      <inertia ixx="8.77E-10" ixy="-5.79E-11" ixz="6.60E-10" iyy="1.22E-09" iyz="-1.25E-10" izz="7.29E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_7"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_8"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.10E-06"/>
      <inertia ixx="1.08E-09" ixy="-7.60E-12" ixz="2.15E-10" iyy="1.02E-09" iyz="-8.62E-11" izz="1.68E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_8"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_9"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.08E-06"/>
      <inertia ixx="1.04E-09" ixy="2.05E-11" ixz="-2.14E-10" iyy="9.97E-10" iyz="-1.23E-10" izz="1.64E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_9"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_10"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_11">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.53E-06"/>
      <inertia ixx="7.64E-10" ixy="8.89E-11" ixz="-5.76E-10" iyy="1.09E-09" iyz="-1.52E-10" izz="6.49E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_11_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_10"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_11"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_12">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.10E-06"/>
      <inertia ixx="5.19E-11" ixy="-4.38E-11" ixz="1.45E-10" iyy="3.65E-10" iyz="-4.49E-11" izz="5.65E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_12_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_11"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_12"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_13">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.95E-06"/>
      <inertia ixx="7.60E-11" ixy="-2.61E-11" ixz="-7.67E-11" iyy="8.17E-11" iyz="-3.97E-11" izz="4.45E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_13_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_12"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_13"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_14">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.38E-06"/>
      <inertia ixx="6.17E-11" ixy="5.33E-11" ixz="-1.53E-10" iyy="4.34E-10" iyz="-5.46E-11" izz="6.88E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_14_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_13"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_14"/>
  </joint>
  <link name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_15">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.79E-06"/>
      <inertia ixx="7.96E-11" ixy="2.74E-11" ixz="1.00E-10" iyy="7.08E-11" iyz="-3.19E-11" izz="3.92E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="bea77759a3e5f9037ae0031c221d81a4_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_15_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_14"/>
    <child link="link_bea77759a3e5f9037ae0031c221d81a4_convex_piece_15"/>
  </joint>
</robot>
