<robot name="root">
  <link name="link_c8691c86e110318ef2bc9da1ba799c60_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.50E-05"/>
      <inertia ixx="2.34E-08" ixy="-3.96E-11" ixz="-3.30E-11" iyy="1.78E-08" iyz="1.74E-10" izz="8.27E-09"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="c8691c86e110318ef2bc9da1ba799c60_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="c8691c86e110318ef2bc9da1ba799c60_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
