<robot name="root">
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.96E-08"/>
      <inertia ixx="1.94E-11" ixy="-7.56E-12" ixz="2.31E-12" iyy="9.93E-12" iyz="4.50E-13" izz="1.95E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.35E-06"/>
      <inertia ixx="5.20E-10" ixy="-3.94E-13" ixz="-1.84E-10" iyy="5.73E-10" iyz="2.22E-12" izz="2.08E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_0"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_1"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.00E-08"/>
      <inertia ixx="1.55E-11" ixy="5.10E-12" ixz="-6.17E-12" iyy="1.43E-11" iyz="-7.24E-12" izz="1.03E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_1"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_2"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="7.06E-09"/>
      <inertia ixx="1.35E-12" ixy="-1.33E-12" ixz="-6.28E-14" iyy="1.21E-12" iyz="8.08E-14" izz="2.68E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_2"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_3"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.69E-08"/>
      <inertia ixx="1.44E-11" ixy="6.59E-12" ixz="3.73E-12" iyy="1.03E-11" iyz="6.62E-12" izz="1.55E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_3"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_4"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.25E-08"/>
      <inertia ixx="7.40E-12" ixy="3.58E-12" ixz="2.31E-12" iyy="6.31E-12" iyz="3.54E-12" izz="8.18E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_4"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_5"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.42E-08"/>
      <inertia ixx="6.78E-12" ixy="7.79E-12" ixz="-1.07E-12" iyy="9.61E-12" iyz="-1.00E-12" izz="1.59E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_5"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_6"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.92E-09"/>
      <inertia ixx="7.01E-12" ixy="1.08E-12" ixz="-2.27E-12" iyy="6.62E-12" iyz="-2.73E-12" izz="2.20E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_6"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_7"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.12E-08"/>
      <inertia ixx="2.58E-11" ixy="-7.91E-13" ixz="5.45E-13" iyy="2.11E-11" iyz="-1.10E-11" izz="7.95E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_7"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_8"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.19E-07"/>
      <inertia ixx="1.00E-11" ixy="3.34E-13" ixz="2.10E-13" iyy="2.12E-11" iyz="-6.44E-15" izz="3.49E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_8"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_9"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.77E-07"/>
      <inertia ixx="8.14E-11" ixy="1.88E-13" ixz="-7.62E-12" iyy="6.35E-11" iyz="-5.75E-13" izz="3.70E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_9"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_10"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_11">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.54E-08"/>
      <inertia ixx="4.34E-11" ixy="3.99E-14" ixz="7.01E-12" iyy="3.90E-11" iyz="2.15E-13" izz="6.90E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_11_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_10"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_11"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_12">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.26E-07"/>
      <inertia ixx="7.95E-11" ixy="-3.87E-14" ixz="7.77E-12" iyy="7.33E-11" iyz="-4.09E-13" izz="8.32E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_12_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_11"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_12"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_13">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.46E-08"/>
      <inertia ixx="6.18E-12" ixy="5.17E-13" ixz="-3.86E-13" iyy="2.79E-12" iyz="-3.09E-12" izz="3.57E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_13_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_12"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_13"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_14">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.99E-08"/>
      <inertia ixx="1.19E-11" ixy="6.35E-12" ixz="2.77E-12" iyy="6.99E-12" iyz="2.70E-12" izz="1.41E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_14_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_13"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_14"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_15">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.75E-08"/>
      <inertia ixx="3.71E-11" ixy="-1.01E-11" ixz="-1.56E-11" iyy="3.70E-11" iyz="1.63E-11" izz="2.03E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_15_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_14"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_15"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_16">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.61E-08"/>
      <inertia ixx="2.25E-11" ixy="-6.45E-12" ixz="-8.71E-12" iyy="2.06E-11" iyz="1.04E-11" izz="1.31E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_16.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_16.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_16_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_15"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_16"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_17">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.24E-08"/>
      <inertia ixx="4.76E-12" ixy="6.09E-12" ixz="-8.70E-13" iyy="8.30E-12" iyz="-7.33E-13" izz="1.27E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_17.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_17.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_17_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_16"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_17"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_18">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.82E-09"/>
      <inertia ixx="1.29E-12" ixy="1.30E-12" ixz="-6.63E-14" iyy="1.20E-12" iyz="-8.13E-14" izz="2.61E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_18.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_18.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_18_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_17"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_18"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_19">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.39E-08"/>
      <inertia ixx="8.81E-12" ixy="3.23E-12" ixz="-3.89E-12" iyy="8.57E-12" iyz="-4.17E-12" izz="6.49E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_19.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_19.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_19_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_18"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_19"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_20">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.52E-08"/>
      <inertia ixx="9.15E-12" ixy="3.36E-12" ixz="-4.49E-12" iyy="9.87E-12" iyz="-4.19E-12" izz="6.78E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_20.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_20.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_20_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_19"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_20"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_21">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.27E-08"/>
      <inertia ixx="3.78E-11" ixy="-1.33E-12" ixz="8.21E-13" iyy="2.88E-11" iyz="-1.72E-11" izz="1.38E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_21.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_21.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_21_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_20"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_21"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_22">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.16E-08"/>
      <inertia ixx="9.67E-12" ixy="-1.11E-11" ixz="-2.81E-12" iyy="1.57E-11" iyz="2.36E-12" izz="2.31E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_22.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_22.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_22_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_21"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_22"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_23">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.14E-08"/>
      <inertia ixx="1.03E-11" ixy="-5.01E-12" ixz="3.25E-12" iyy="8.87E-12" iyz="-4.93E-12" izz="1.14E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_23.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_23.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_23_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_22"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_23"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_24">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.93E-08"/>
      <inertia ixx="1.14E-11" ixy="-5.32E-12" ixz="3.01E-12" iyy="8.18E-12" iyz="-5.22E-12" izz="1.24E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_24.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_24.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_24_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_23"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_24"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_25">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.57E-08"/>
      <inertia ixx="7.77E-12" ixy="-8.06E-12" ixz="-2.02E-12" iyy="1.04E-11" iyz="1.90E-12" izz="1.64E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_25.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_25.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_25_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_24"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_25"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_26">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.61E-08"/>
      <inertia ixx="1.60E-11" ixy="4.46E-12" ixz="5.59E-12" iyy="1.30E-11" iyz="7.90E-12" izz="9.64E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_26.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_26.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_26_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_25"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_26"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_27">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.59E-08"/>
      <inertia ixx="2.36E-11" ixy="-6.69E-13" ixz="-1.54E-12" iyy="1.92E-11" iyz="9.72E-12" izz="5.71E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_27.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_27.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_27_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_26"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_27"/>
  </joint>
  <link name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_28">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.62E-08"/>
      <inertia ixx="3.63E-11" ixy="-1.30E-12" ixz="-2.56E-12" iyy="2.76E-11" iyz="1.61E-11" izz="1.07E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_28.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="d85daabdcd4481becdd3fedfdba1457f_convex_piece_28.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_28_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_27"/>
    <child link="link_d85daabdcd4481becdd3fedfdba1457f_convex_piece_28"/>
  </joint>
</robot>
