<robot name="root">
  <link name="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.05E-06"/>
      <inertia ixx="1.17E-08" ixy="-6.70E-12" ixz="3.15E-11" iyy="1.06E-08" iyz="-3.03E-10" izz="1.39E-09"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.04E-06"/>
      <inertia ixx="3.21E-10" ixy="1.07E-12" ixz="2.51E-12" iyy="2.48E-10" iyz="2.38E-10" izz="1.09E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_0"/>
    <child link="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_1"/>
  </joint>
  <link name="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.05E-06"/>
      <inertia ixx="1.67E-09" ixy="-1.28E-13" ixz="-5.26E-12" iyy="1.65E-09" iyz="9.91E-11" izz="2.96E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="4ab83d02535be5de6b61e0a518a188f0_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_1"/>
    <child link="link_4ab83d02535be5de6b61e0a518a188f0_convex_piece_2"/>
  </joint>
</robot>
