<robot name="root">
  <link name="link_9f2bb4a157164af19a7c9976093a710d_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.21E-04"/>
      <inertia ixx="4.91E-07" ixy="3.37E-10" ixz="4.85E-10" iyy="4.91E-07" iyz="5.49E-10" izz="5.69E-08"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="9f2bb4a157164af19a7c9976093a710d_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="9f2bb4a157164af19a7c9976093a710d_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
</robot>
