<robot name="root">
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.14E-07"/>
      <inertia ixx="1.14E-10" ixy="-2.21E-12" ixz="-1.82E-12" iyy="6.93E-11" iyz="5.21E-11" izz="3.41E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_0.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.71E-08"/>
      <inertia ixx="1.32E-11" ixy="3.27E-16" ixz="3.10E-13" iyy="1.15E-11" iyz="2.19E-12" izz="-9.08E-13"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_1.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_0"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_1"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.28E-07"/>
      <inertia ixx="6.02E-11" ixy="2.18E-13" ixz="-4.17E-11" iyy="9.12E-11" iyz="-4.19E-13" izz="3.14E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_2.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_1"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_2"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.28E-08"/>
      <inertia ixx="1.01E-11" ixy="1.30E-14" ixz="1.62E-13" iyy="8.71E-12" iyz="-1.82E-12" izz="-6.47E-13"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_3.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_2"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_3"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.12E-07"/>
      <inertia ixx="1.13E-10" ixy="2.19E-12" ixz="-1.79E-12" iyy="6.87E-11" iyz="-5.16E-11" izz="3.38E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_4.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_3"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_4"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.40E-06"/>
      <inertia ixx="1.30E-10" ixy="-9.65E-11" ixz="2.07E-11" iyy="1.53E-10" iyz="3.74E-12" izz="2.74E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_5.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_4"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_5"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.71E-07"/>
      <inertia ixx="7.65E-11" ixy="2.96E-14" ixz="4.59E-11" iyy="1.00E-10" iyz="4.95E-14" izz="2.37E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_6.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_5"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_6"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="9.99E-08"/>
      <inertia ixx="1.93E-11" ixy="-2.57E-14" ixz="2.77E-12" iyy="1.71E-11" iyz="-2.46E-13" izz="-2.06E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_7.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_7_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_6"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_7"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_8">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.40E-06"/>
      <inertia ixx="1.30E-10" ixy="9.67E-11" ixz="2.07E-11" iyy="1.53E-10" iyz="-3.76E-12" izz="2.75E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_8.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_8_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_7"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_8"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_9">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.70E-07"/>
      <inertia ixx="4.80E-13" ixy="2.28E-14" ixz="2.99E-12" iyy="2.90E-11" iyz="1.15E-15" izz="2.87E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_9.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_9_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_8"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_9"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_10">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.54E-07"/>
      <inertia ixx="1.05E-12" ixy="-4.79E-15" ixz="1.49E-12" iyy="-8.14E-13" iyz="-4.99E-16" izz="-1.69E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_10.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_10_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_9"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_10"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_11">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.14E-07"/>
      <inertia ixx="7.87E-11" ixy="3.27E-12" ixz="-2.68E-12" iyy="4.40E-11" iyz="-3.85E-11" izz="3.10E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_11.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_11_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_10"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_11"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_12">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.08E-08"/>
      <inertia ixx="1.15E-11" ixy="-1.19E-11" ixz="1.27E-12" iyy="1.19E-11" iyz="-9.53E-13" izz="2.32E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_12.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_12_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_11"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_12"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_13">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.68E-07"/>
      <inertia ixx="5.31E-11" ixy="-2.09E-11" ixz="-5.05E-13" iyy="6.72E-12" iyz="3.86E-12" izz="5.84E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_13.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_13_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_12"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_13"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_14">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.20E-07"/>
      <inertia ixx="1.11E-10" ixy="-4.96E-11" ixz="-3.32E-11" iyy="6.69E-11" iyz="5.04E-11" izz="1.03E-10"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_14.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_14_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_13"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_14"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_15">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.11E-07"/>
      <inertia ixx="7.65E-11" ixy="-4.39E-12" ixz="-3.90E-12" iyy="4.19E-11" iyz="3.76E-11" izz="3.16E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_15.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_15_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_14"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_15"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_16">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.07E-08"/>
      <inertia ixx="1.15E-11" ixy="1.19E-11" ixz="1.25E-12" iyy="1.19E-11" iyz="9.45E-13" izz="2.31E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_16.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_16.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_16_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_15"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_16"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_17">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.66E-07"/>
      <inertia ixx="5.25E-11" ixy="2.07E-11" ixz="-5.27E-13" iyy="6.71E-12" iyz="-3.86E-12" izz="5.78E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_17.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_17.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_17_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_16"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_17"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_18">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.05E-07"/>
      <inertia ixx="4.65E-11" ixy="2.58E-11" ixz="-1.40E-11" iyy="2.79E-11" iyz="-1.92E-11" izz="5.21E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_18.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_18.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_18_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_17"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_18"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_19">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.30E-08"/>
      <inertia ixx="3.97E-11" ixy="1.44E-11" ixz="-1.31E-11" iyy="2.74E-11" iyz="-1.98E-11" izz="2.99E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_19.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_19.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_19_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_18"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_19"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_20">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="2.05E-07"/>
      <inertia ixx="1.26E-10" ixy="-9.19E-12" ixz="2.16E-11" iyy="1.02E-10" iyz="-4.81E-11" izz="2.35E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_20.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_20.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_20_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_19"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_20"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_21">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.64E-07"/>
      <inertia ixx="8.71E-11" ixy="-2.99E-12" ixz="2.80E-11" iyy="9.00E-11" iyz="-9.53E-12" izz="6.60E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_21.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_21.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_21_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_20"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_21"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_22">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.55E-08"/>
      <inertia ixx="1.82E-11" ixy="2.80E-12" ixz="2.59E-12" iyy="6.73E-12" iyz="8.62E-12" izz="9.62E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_22.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_22.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_22_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_21"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_22"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_23">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.83E-07"/>
      <inertia ixx="1.00E-10" ixy="6.51E-12" ixz="2.84E-11" iyy="9.76E-11" iyz="2.28E-11" izz="1.03E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_23.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_23.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_23_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_22"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_23"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_24">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.27E-07"/>
      <inertia ixx="8.27E-11" ixy="5.49E-12" ixz="1.09E-11" iyy="6.17E-11" iyz="3.47E-11" izz="1.83E-11"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_24.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_24.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_24_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_23"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_24"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_25">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="6.78E-08"/>
      <inertia ixx="1.89E-11" ixy="-2.88E-12" ixz="2.70E-12" iyy="7.09E-12" iyz="-8.96E-12" izz="9.90E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_25.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_25.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_25_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_24"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_25"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_26">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.65E-08"/>
      <inertia ixx="6.72E-12" ixy="-1.74E-12" ixz="2.42E-12" iyy="4.66E-12" iyz="-3.09E-12" izz="2.74E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_26.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_26.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_26_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_25"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_26"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_27">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.82E-08"/>
      <inertia ixx="5.31E-12" ixy="-1.28E-12" ixz="2.90E-12" iyy="5.23E-12" iyz="-1.89E-12" izz="1.75E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_27.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_27.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_27_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_26"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_27"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_28">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.45E-08"/>
      <inertia ixx="9.75E-12" ixy="7.62E-14" ixz="6.77E-12" iyy="1.20E-11" iyz="9.02E-14" izz="2.65E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_28.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_28.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_28_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_27"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_28"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_29">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.61E-08"/>
      <inertia ixx="6.63E-12" ixy="1.72E-12" ixz="2.39E-12" iyy="4.59E-12" iyz="3.05E-12" izz="2.70E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_29.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_29.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_29_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_28"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_29"/>
  </joint>
  <link name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_30">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="3.61E-08"/>
      <inertia ixx="5.15E-12" ixy="1.23E-12" ixz="2.78E-12" iyy="5.05E-12" iyz="1.84E-12" izz="1.69E-12"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_30.obj" scale="1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="20a5672ab6767a436fdde33224151fa5_convex_piece_30.obj" scale="1.0000E+00"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_20a5672ab6767a436fdde33224151fa5_convex_piece_30_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_29"/>
    <child link="link_20a5672ab6767a436fdde33224151fa5_convex_piece_30"/>
  </joint>
</robot>
